{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="info-msg-block">
        <p>
            {{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
        </p>
    </div>
{% endblock fos_user_content %}
