{% extends '::main-no-head.html.twig' %}

{% block content %}
    <h2>Новости и анонсы</h2>

    <div class="news-list">
        {% for entity in entities %}
        <article class="intro">
            <h2><a href="{{ path('news_show', { 'slug': entity.slug }) }}">{{ entity.title }}</a></h2>
            <div class="article-date-rubrics">{{ entity.createdat|date('d M Y') }}, <a href="# ">Zend Framework Day</a></div>
            <p>{{ entity.preview }}</p>
        </article>
        {% endfor %}

        {#<div class="prev-next-links"><a href="# ">← <u>предыдущая</u></a> <a href="# "><u>следующая</u> →</a></div>
        <div class="paginator">
            <a href="# ">1</a>
            <span class="current">2</span>
            <a href="# ">3</a>
            <a href="# ">4</a>
            <a href="# ">5</a>
            <span class="placeholder">...</span>
            <a href="# ">11</a>
            <a href="# ">12</a>
        </div>#}
    </div>
{% endblock %}