{% extends '::main-no-head.html.twig' %}

{% block content %}
    <article>
        <h2>{{ entity.title }}</h2>
        
        <div class="article-date-rubrics">{{ entity.createdat|date('d M Y') }}, <a href="# ">Python Frameworks Day</a></div>

        <p>{{ entity.text|raw }}</p>
    </article>
        
    <div class="to-entitylist-link"><a href="{{ path('news') }}">← <u>к списку новостей</u></a></div>        
{% endblock %}