{%- if event.useCustomBackground != true -%}
    <section class="event-description">
        <div class="container container--sm">
            <div class="event-description__text static-styles">
                {{ about|raw }}
            </div>
        </div>
    </section>
{%- else -%}
    {{ about|raw }}
{%- endif -%}
