{%- if speakers.count > 0 -%}
    <section id="{{ section_id }}" class="speakers">
        <div class="container">
            <div class="speakers__box">
                <h2 class="h2 speakers__title">{{ templateTitle }}</h2>
                <ul class="speakers__items">
                    {% include 'ApplicationDefaultBundle:Redesign/Speaker:speaker.html.twig' with {
                        'event' : event,
                        'speakers' : speakers,
                        'with_review' : with_review
                        }
                    %}
                </ul>
            </div>
        </div>
    </section>
{%- endif -%}
