{% if event.committeeSpeakers.count > 0 %}
<section id="committee-speakers-event" class="speakers">
    <div class="container">
        <div class="speakers__box">
            <h2 class="h2 speakers__title">{{ 'committee.speaker.title'|trans }}</h2>
            <ul class="speakers__items">
                {% render controller('ApplicationDefaultBundle:Speaker:eventSpeakers',
                    {
                        'event':event,
                        'speakerType':constant('Application\\Bundle\\DefaultBundle\\Controller\\SpeakerController::SPEAKER_TYPE_COMMITTEE')
                    })
                %}
            </ul>
        </div>
    </div>
</section>
{% endif %}