<section class="talks">
    <div class="container container--sm">
        <h2 class="h2 talks__title">Talks</h2>
        <p class="talks__text">Workshops track to be added by March 20, the final program to be released by April 2</p>
        <div class="talks__list">
            <div class="talks__item">
                <div class="talks__content" style="border-top: 6px solid #000000">
                    <a href="#" class="talks__name">Security is a matter of success</a>
                    <div class="talks__bottom">
                    <span class="talks__speaker">Dino Esposito</span>
                    <span class="talks__company">BaxEnergy</span>
                </div>
                </div>
            </div>
            <div class="talks__item">
                <div class="talks__content" style="border-top: 6px solid #000000">
                    <a href="#" class="talks__name">Security is a matter of success</a>
                    <div class="talks__bottom">
                    <span class="talks__speaker">Dino Esposito</span>
                    <span class="talks__company">BaxEnergy</span>
                </div>
                </div>
            </div>
            <div class="talks__item">
                <div class="talks__content" style="border-top: 6px solid #000000">
                    <a href="#" class="talks__name">Security is a matter of success</a>
                    <div class="talks__bottom">
                    <span class="talks__speaker">Dino Esposito</span>
                    <span class="talks__company">BaxEnergy</span>
                </div>
                </div>
            </div>
            <div class="talks__item">
                <div class="talks__content" style="border-top: 6px solid #000000">
                    <a href="#" class="talks__name">Security is a matter of success</a>
                    <div class="talks__bottom">
                    <span class="talks__speaker">Dino Esposito</span>
                    <span class="talks__company">BaxEnergy</span>
                </div>
                </div>
            </div>
            <div class="talks__item">
                <div class="talks__content" style="border-top: 6px solid #000000">
                    <a href="#" class="talks__name">Security is a matter of success</a>
                    <div class="talks__bottom">
                    <span class="talks__speaker">Dino Esposito</span>
                    <span class="talks__company">BaxEnergy</span>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%- if program_page -%}
    <section id="program-event" class="schedule">
        <div class="container schedule__container">
            <h2 class="h2 schedule__title">{{ 'event.page.program'|trans }}</h2>
            {%- if program_page.textNew is not empty -%}
                {{ program_page.textNew|raw }}
            {%- else -%}
                {{ program_page.text|raw }}
            {%- endif -%}
        </div>
    </section>
{%- endif -%}