{% extends 'StfalconPageBundle::layout.html.twig' %}

{% block title %}{{ page.title }} / {{ parent() }}{% endblock %}

{% block content %}
    <h2>
        {{ page.title }}
    </h2>

    {{ page.text|raw }}
{% endblock %}