{% extends '::layout.html.twig' %}

{% block content %}
    <div class="error-page">
        <h1>Страница не найдена</h1>
        <h4>Ошибка 404</h4>
        <div class="error-msg-block"><p>Возможно, такой страницы больше не существует или она была удалена. <br />Также возможно, Вы допустили небольшую опечатку при вводе адреса.</p></div>
        <strong>Вы можете:</strong>
        <ul>
            <li><a href="http://frameworksdays.com/">Вернуться на главную</a></li>
            <li>Перейти в любой раздел сайта через верхнее меню</li>
        </ul>
    </div>
{% endblock %}