{% extends '::layout.html.twig' %}

{% block content %}
    <div class="error-page">
        <h1>{{ 'page.error.notfound'|trans }}</h1>
        <h4>{{ 'page.error.notfound.error'|trans }}</h4>
        <div class="error-msg-block">{{ 'page.error.notfound.message'|trans|raw }}</div>
        {{ 'page.error.notfound.you_can'|trans|raw }}
    </div>
{% endblock %}