{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Проверка билета по номеру</h1>
    <form action="{{ path('check_ticket_by_number') }}" method="post" class="payment-form">
        {{ form_widget(form) }}
        <input type="submit" value="Проверить">
    </form>
    {% if url %}
        <div>
            <iframe src="{{ url }}" width="100%"></iframe>
        </div>
    {% endif %}
{% endblock %}