<!--BEGIN payment-popup-->
<div class="remodal remodal--md" data-remodal-id="modal-payment" data-remodal-options="hashTracking: false">
    <button id="close-payment" data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head remodal__head--payment">
            <div class="h2 remodal__title change-title"></div>
        </div>
        {% include '@ApplicationDefault/Redesign/Payment/payment_form.html.twig' %}
    </div>
</div>
<!--END payment-popup-->