<div class="payer" id="payer-block" style="display: none">
    <label class="label-hidden-user-promocode" style="display: none"></label>
    <div class="payer__number"></div>
    <div class="user-payment">
        <div class="user-payment__left">
            <label class="label-hidden-user-name" style="display: none">name</label>
            <label class="label-hidden-user-surname" style="display: none">surname</label>
            <div class="user-payment__name">name</div>
            <div class="user-payment__email">email</div>
        </div>
        <div class="user-payment__right">
            <div class="user-payment__price">
                <span class="user-payment__price-strike" style="display: none">price</span>price
            </div>
            <div class="user-payment__discount" style="display: none"></div>
        </div>
        <div class="user-payment__controls">
            <button type="button" class="user-payment__btn ticket-edit-btn">
                <i class="icon-edit"></i>
            </button>
            <button type="button" class="user-payment__btn ticket-delete-btn" style="display: none">
                <i class="icon-closed"></i>
            </button>
        </div>
    </div>
</div>
