.idea
!.idea/runConfigurations
/node_modules
/composer.phar

# Symfony
.env.local
/.env.local.php
/public/bundles/
/var/
/vendor/

# Application
/public/assets
/public/cache/*
/public/uploads/*
/public/build/*

# Geo Data
!/geodata/.gitkeep
/geodata/*

###> friendsofphp/php-cs-fixer ###
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
/phpunit-coverage.xml
/clover-coverage.xml
/junit.xml
/app/spool
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
