# Symfony
/app/bootstrap.php.cache
/app/logs/*
/app/cache/*
/app/sessions/*
!/app/sessions/.gitkeep
/vendor/
/bin/
/web/bundles/*
/composer.phar

# Application
/web/tmp/*
/web/uploads/*
/node_modules
.idea

