[submodule "src/Stfalcon/Bundle/NewsBundle"]
	path = src/Stfalcon/Bundle/NewsBundle
	url = git@github.com:stfalcon/NewsBundle.git
[submodule "src/Stfalcon/Bundle/PageBundle"]
	path = src/Stfalcon/Bundle/PageBundle
	url = git@github.com:stfalcon/PageBundle.git
