.idea
/node_modules
/composer.phar

# Symfony
.env.local
/.env.local.php
/public/bundles/
/var/
/vendor/

# Application
/web/assets
/web/cache/*
/web/uploads/*

# Geo Data
!/geodata/.gitkeep
/geodata/*

###> friendsofphp/php-cs-fixer ###
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
/phpunit-coverage.xml
/clover-coverage.xml
/junit.xml
/app/spool
###< symfony/phpunit-bridge ###
