parameters:
    excludes_analyse:
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Features/Context/MinkRedirectContext.php'
    fileExtensions:
        - 'php'
    reportUnmatchedIgnoredErrors: false
