parameters:
    excludes_analyse:
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Features/Context/MinkRedirectContext.php'
        - '%rootDir%/../../../src/Application/Bundle/UserBundle/Features/Context/FeatureContext.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Tests/Controller/WayForPayControllerTest.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/WayForPayService.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/SvgToJpg.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Controller/EventController.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Controller/PaymentController.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Controller/DefaultController.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Controller/AdminController.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Validator/Constraints/Event/EventDateValidator.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Entity/Mail.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/EventListener/PaymentListener.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Admin/MailAdmin.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Features/Context/FeatureContext.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/SponsorBundle/Features/Context/FeatureContext.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Controller/MailAdminController.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Repository/TicketRepository.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/EventService.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/EventBlock/CandidateSpeakersEventBlockService.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/EventBlock/SpeakersEventBlockService.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/EventBlock/PricesEventBlockService.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/EventBlock/PartnersEventBlockService.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/EventBlock/CommitteeSpeakersEventBlockService.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/FooterBlockService.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/EventListener/LocaleUrlResponseListener.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Entity/Review.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Entity/EventNews.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Entity/Event.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Entity/EventPage.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/DataFixtures/ORM/LoadSpeakerData.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/DataFixtures/ORM/LoadEventData.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Repository/MailQueueRepository.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/SponsorBundle/Entity/Sponsor.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/SponsorBundle/DataFixtures/ORM/LoadSponsorData.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Service/TicketService.php'
        - '%rootDir%/../../../src/Application/Bundle/UserBundle/Entity/User.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/SponsorBundle/Tests/Entity/SponsorEntityTest.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Repository/EventNewsRepository.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Repository/EventRepository.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Command/StfalconMailerCommand.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Admin/EventGroupAdmin.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/DataFixtures/ORM/LoadReviewData.php'
        - '%rootDir%/../../../src/Stfalcon/Bundle/EventBundle/Entity/EventGroup.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Controller/TicketAdminController.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Tests/Listener/PaymentListenerTest.php'
        - '%rootDir%/../../../src/Application/Bundle/DefaultBundle/Tests/Service/ReferralServiceTest.php'
    fileExtensions:
        - 'php'
    reportUnmatchedIgnoredErrors: false
