{% extends '::main.html.twig' %}

{% block content %}

    <h1>Новости и анонсы</h1>

    <div class="news-list">
        <article class="intro">
            <h2><a href="# ">ZFConf Ukraine 2010 успешно состоялась!</a></h2>
            <div class="article-date-rubrics">30 Ноя 2010</div>
            <p>Рады вам сообщить что совместная конференция ZFConf Ukraine &amp; MageConf 2010 успешно состоялась 27го ноября в Киеве.</p>
        </article>

        <article class="intro">
            <h2><a href="# ">Конференция пройдет завтра, в субботу 27го ноября</a></h2>
            <div class="article-date-rubrics">26 Ноя 2010, <a href="# ">Zend Framework Day</a></div>
            <p>Напоминаем что завтра, в субботу 27го ноября, состоится совместная конференция ZFConf Ukraine &amp; MageConf.</p>
        </article>

        <article class="intro">
            <h2><a href="# ">Подтверждение участия по электронной почте</a></h2>
            <div class="article-date-rubrics">26 Ноя 2010</div>
            <p>Уважаемые участники, сегодня, в субботу, мы начали рассылать письма с подтверждением вашего участия на конференции.</p>
        </article>

        <article class="intro">
            <h2><a href="# ">Информация для приезжих</a></h2>
            <div class="article-date-rubrics">18 Ноя 2010, <a href="# ">Zend Framework Day</a></div>
            <p>На сайте появилась страница с информацией для приезжих, где поселиться, как добраться до конференции и другое.</p>
        </article>

        <article class="intro">
            <h2><a href="# ">Новый доклад – «NoSQL и Zend Framework»</a></h2>
            <div class="article-date-rubrics">16 Ноя 2010, <a href="# ">Python Frameworks Day</a></div>
            <p>Рады вам сообщить что у нашей конференции появился новый докладчик, это Никита Грошин из Geometria Lab. Никита и Ростислав Михайлив сделают совместный доклад на тему «NoSQL и Zend Framework».</p>
        </article>

        <article class="intro">
            <h2><a href="# ">Информация для приезжих</a></h2>
            <div class="article-date-rubrics">18 Ноя 2010, <a href="# ">Zend Framework Day</a></div>
            <p>На сайте появилась страница с информацией для приезжих, где поселиться, как добраться до конференции и другое.</p>
        </article>

        <article class="intro">
            <h2><a href="# ">Новый доклад – «NoSQL и Zend Framework»</a></h2>
            <div class="article-date-rubrics">16 Ноя 2010, <a href="# ">Python Frameworks Day</a></div>
            <p>Рады вам сообщить что у нашей конференции появился новый докладчик, это Никита Грошин из Geometria Lab. Никита и Ростислав Михайлив сделают совместный доклад на тему «NoSQL и Zend Framework».</p>
        </article>

        <div class="allnews-link"><a href="# ">все новости</a></div>
    </div>

{% endblock %}