{% extends '::layout.html.twig' %}

{% block content %}
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="info-msg-block">
                <p>{{ flashMessage|trans({}, 'FOSUserBundle') }}</p>
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}{% endblock %}
{% endblock content %}