{% extends '::layout.html.twig' %}

{% block content %}
    {% for key, message in app.session.flashBag.all() %}
    <div class="info-msg-block">
        <p>{{ message|trans({}, 'FOSUserBundle') }}</p>
    </div>
    {% endfor %}

    {% block fos_user_content %}{% endblock %}
{% endblock content %}
