{% extends 'ApplicationDefaultBundle::layout.html.twig' %}

{% block title %}{{ 'news.title'|trans }} / {{ parent() }}{% endblock %}

{% block content %}
    <h2>{{ 'news.title'|trans }}</h2>
    <div class="news-list"> 
        {{ include('ApplicationDefaultBundle:News:_news_list.html.twig', {'news': news}) }}
    </div>
{% endblock %}
