{% extends 'ApplicationDefaultBundle::layout.html.twig' %}

{% block title %}Новости / {{ parent() }}{% endblock %}

{% block content %}
    <h2>Новости</h2>
    <div class="news-list"> 
        {{ include('ApplicationDefaultBundle:News:_news_list.html.twig', {'news': news}) }}
    </div>
{% endblock %}
