<div class="news-list"> 
    {{ include('ApplicationDefaultBundle:News:_news_list.html.twig', {'news': news}) }}  
    <div class="allnews-link">
        <a href="{{ path('news') }}">все новости</a>
    </div>
 </div>