<footer id="footer">
    <div class="wrap">

        <div class="copyright">&#169; 2011 Frameworks Days.</div>
        <address>Электронная почта: <a href="mailto:info@fwdays.com">info@fwdays.com</a><br /> Телефон для справок: +380 (097) 874-03-42</address>
        <div class="created-by">Сделано в <a class="stfalcon" href="http://stfalcon.com">stfalcon-studio</a></div>

    </div>
</footer><!-- #footer -->

{% block javascripts %}{% endblock %}
