<footer id="footer">
    <div class="wrap">

        <div class="copyright">&#169; 2011 Frameworks Days.</div>
        <address>Электронная почта: <a href="mailto:info@fwdays.com">info@fwdays.com</a><br /> Телефон для справок: +380 (097) 874-03-42</address>
        <div class="created-by">Сделано в <a class="stfalcon" href="http://stfalcon.com">stfalcon-studio</a></div>
        <!-- hit.ua -->
        <a href='http://hit.ua/?x=82307' target='_blank'>
        <script type="text/javascript"><!--
        Cd=document;Cr="&"+Math.random();Cp="&s=1";
        Cd.cookie="b=b";if(Cd.cookie)Cp+="&c=1";
        Cp+="&t="+(new Date()).getTimezoneOffset();
        if(self!=top)Cp+="&f=1";
        //--></script>
        <script type="text/javascript"><!--
        if(navigator.javaEnabled())Cp+="&j=1";
        //--></script>
        <script type="text/javascript"><!--
        if(typeof(screen)!='undefined')Cp+="&w="+screen.width+"&h="+
        screen.height+"&d="+(screen.colorDepth?screen.colorDepth:screen.pixelDepth);
        //--></script>
        <script type="text/javascript"><!--
        Cd.write("<img src='http://c.hit.ua/hit?i=82307&g=0&x=2"+Cp+Cr+
        "&r="+escape(Cd.referrer)+"&u="+escape(window.location.href)+
        "' style='border:0' wi"+"dth='1' he"+"ight='1'/>");
        //--></script></a>
        <!-- / hit.ua -->

    </div>
</footer><!-- #footer -->

{% block javascripts %}{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19310691-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>