
<nav class="top-nav">
    {{ knp_menu('main') }}
</nav>

<header id="header">
    <div class="wrap">
        <div class="logo">
            <a href="{{ path('homepage') }}" title="Frameworks Days">Frameworks Days</a>
        </div><!-- div.logo -->

        {% if no_head != true %}
        <div class="event-slider">
            <div class="slide">
                <div class="icon"><img src="/images/temp/zend-logo.png" width="162" height="172" alt="" /></div>
                <div class="text">
                    <h2>26 августа 2011, Киев<br /> Экспо Плаза</h2>
                    <p>Лучшие специалисты PHP и Zend Framework Украины, России и других стан СНГ соберутся вместе в Украине на одной конференции.</p>
                    <a class="know-more" href="# ">Узнать больше</a>
                </div>
            </div>
            <div class="btn-prev"><a href="# " title="previous">previous</a></div>
            <div class="btn-next"><a href="# " title="next">next</a></div>
        </div><!-- div.event-slider -->
        {% endif %}
    </div>
</header><!-- #header-->

{% if no_head != true %}
<div class="events-switches">
    <div class="wrap">
        <ul>
            <li class="active"><a href="# ">Zend Framework Day</a></li>
            <li><a href="# ">PHP Frameworks Day</a></li>
            <li class="past-events"><a href="# ">Прошедшие</a></li>
        </ul>
    </div>
</div>
{% endif %}