
<nav class="top-nav">
    {{ knp_menu('main') }}
</nav>

<header id="header">
    <div class="wrap">
        <div class="logo">
            <a href="{{ path('homepage') }}" title="Frameworks Days">Frameworks Days</a>
        </div><!-- div.logo -->

        {% if no_head != true %}
            {% render "StfalconEventBundle:Event:slider" %}
        {% endif %}
    </div>
</header><!-- #header-->

{#{% if no_head != true %}
<div class="events-switches">
    <div class="wrap">
        <ul>
            <li class="active"><a href="# ">Zend Framework Day</a></li>
            <li><a href="# ">PHP Frameworks Day</a></li>
            <li class="past-events"><a href="# ">Прошедшие</a></li>
        </ul>
    </div>
</div>
{% endif %}#}