<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {#<meta charset="utf-8" />#}
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{% block title %}Frameworks Days{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="/style.css" type="text/css" media="screen, projection" />
    <!--[if IE 7]><link rel="stylesheet" href="/style_ie7.css" type="text/css" media="screen, projection" /><![endif]-->
    
    <link href="{{ path('rss') }}" rel="alternate" type="application/rss+xml" title="Подписка по RSS" />    
</head>
