<div class="side-right-wrap">
    <div class="side-right-holder">

        <div class="partners">

            <h2>Спонсоры</h2>


            <div class="partner">
                <a href="http://ua.magento.com">
                    <img src="/images/partners/magento/small_logo.png" alt="Magento" title="Magento" />
                </a>
            </div>

            <div class="partner">
                <a href="http://odesk.com">
                    <img src="/images/partners/odesk/small_logo.jpg" alt="oDesk" title="oDesk" />
                </a>
            </div>

            <div class="partner">
                <a href="http://mev.com">
                    <img src="/images/partners/mev/small_logo.png" alt="MEV" title="MEV" />
                </a>
            </div>

            <div class="partner">
                <a href="http://shalb.com/ru/">
                    <img src="/images/partners/shalb.gif" alt="SHALB" title="SHALB" />
                </a>
            </div>

            <div class="become-partner">
                <a href="/page/partners#become-partner">Здесь может<br> быть ваш логотип</a>
            </div>

            <h2>Организаторы</h2>

            <div class="partner">
                <a href="http://zendframework.ru">
                    <img src="/images/partners/zfru.png" width="110" height="76" alt="Русскоязычное Zend Framework сообщество" title="Русскоязычное Zend Framework сообщество" />
                </a>
            </div>

            <div class="partner">
                <a href="http://stfalcon.com">
                    <img src="/images/partners/stfalcon.png" width="110" height="71" alt="Веб студия stfalcon.com" title="Веб студия stfalcon.com" />
                </a>
            </div>

            <h2>Медиа-партнеры</h2>

            <div class="partner">
                <a href="http://zfconf.ru">
                    <img src="/images/partners/zfconf.png" alt="ZFConf" title="ZFConf" />
                </a>
            </div>

            <div class="partner">
                <a href="http://2011.symfonycamp.org.ua">
                    <img src="/images/partners/symfonycamp.png" alt="Symfony конференция в Украине" title="Symfony конференция в Украине" />
                </a>
            </div>

            <div class="partner">
                <a href="http://it.rabota.ua">
                    <img src="/images/partners/itrabota.png" alt="it.rabota.ua" title="it.rabota.ua" />
                </a>
            </div>

            <div class="partner">
                <a href="http://w2.com.ua">
                    <img src="/images/partners/w2.png" alt="Web 2.0 magazine" title="Web 2.0 magazine" />
                </a>
            </div>

            <div class="partner">
                <a href="http://smartme.com.ua">
                    <img src="/images/partners/smartme.png" alt="Smartme" title="Smartme" />
                </a>
            </div>

            <div class="partner">
                <a href="http://www.epochta.ru">
                    <img src="/images/partners/epochta.png" alt="ePochta" title="ePochta" />
                </a>
            </div>

            <h2>Друзья</h2>

            <div>
                <a href="http://crazycode.net">
                    crazycode.net
                </a>
            </div>

            <div>
                <a href="http://easyweb.org.ua">
                    easyweb.org.ua
                </a>
            </div>

            <div>
                <a href="http://minisotm.ru">
                    minisotm.ru
                </a>
            </div>

            <div>
                <a href="http://kronus.me">
                    kronus.me
                </a>
            </div>

            <div>
                <a href="http://igor-negrutsa.info">
                    igor-negrutsa.info
                </a>
            </div>

            <div>
                <a href="http://tokarchuk.ru">
                    tokarchuk.ru
                </a>
            </div>

            <div>
                <a href="http://tigor.com.ua">
                    tigor.com.ua
                </a>
            </div>

            <div>
                <a href="http://bonart.org.ua/blog">
                    bonart.org.ua
                </a>
            </div>

            <div>
                <a href="http://deepencpp.blogspot.com">
                    deepencpp.blogspot.com
                </a>
            </div>

            <div>
                <a href="http://ant.mrhost.me">
                    ant.mrhost.me
                </a>
            </div>

            <div>
                <a href="http://snowcore.net">
                    snowcore.net
                </a>
            </div>

            <div>
                <a href="http://allseo.ru">
                    allseo.ru
                </a>
            </div>

            <div>
                <a href="http://alexandr.vronskiy.name">
                    alexandr.vronskiy.name
                </a>
            </div>

            <div>
                <a href="http://www.dizballanze.com">
                    dizballanze.com
                </a>
            </div>

            <div>
                <a href="http://pro100pro.com">
                    pro100pro.com
                </a>
            </div>

            <div>
                <a href="http://kenny.deeprosoft.com">
                    kenny.deeprosoft.com
                </a>
            </div>

            <div>
                <a href="http://blog.evercodelab.com">
                    blog.evercodelab.com
                </a>
            </div>

            <div>
                <a href="http://station9.ru">
                    station9.ru
                </a>
            </div>

            <div>
                <a href="http://web-blog.org.ua">
                    web-blog.org.ua
                </a>
            </div>

        </div>

    </div><!-- .side-right-holder -->
</div><!-- .side-right-wrap -->