<div class="side-right-wrap">
    <div class="side-right-holder">

        {#<div class="partners">

            <h2>Спонсоры</h2>
            <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-magento.png" width="110" height="67" alt="Magento" title="Magento" /></a></div>
            <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-habr.png" width="110" height="63" alt="Habrahabr" title="Habrahabr" /></a></div>
            <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-runnerpeak.png" width="110" height="62" alt="Runnerpeak" title="Runnerpeak" /></a></div>

        </div>#}

        <div class="partners">

            <h2>Партнеры</h2>
            {#<div class="partner">
                <a href="# ">
                    <img src="/images/temp/img-partner-zconf.png" width="110" height="69" alt="ZConf" title="ZConf" />
                </a>
            </div>#}
            <div class="partner">
                <a href="http://zendframework.ru">
                    <img src="/images/temp/img-partner-zfru.png" width="110" height="76" alt="Русскоязычное Zend Framework сообщество" title="Русскоязычное Zend Framework сообщество" />
                </a>
            </div>
            <div class="partner">
                <a href="# ">
                    <img src="/images/temp/img-partner-stfalcon.png" width="110" height="71" alt="веб-студия stfalcon.com" title="Веб-студия stfalcon.com" />
                </a>
            </div>

        </div>

        {#<div class="become-partner"><a href="# ">Здесь может<br /> быть ваш логотип</a></div>#}

    </div><!-- .side-right-holder -->
</div><!-- .side-right-wrap -->