<div class="side-right-wrap">
    <div class="side-right-holder">

        {#<div class="partners">

            <h2>Спонсоры</h2>
            <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-magento.png" width="110" height="67" alt="Magento" title="Magento" /></a></div>
            <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-habr.png" width="110" height="63" alt="Habrahabr" title="Habrahabr" /></a></div>
            <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-runnerpeak.png" width="110" height="62" alt="Runnerpeak" title="Runnerpeak" /></a></div>

        </div>#}

        <div class="partners">

            <h2>Организаторы</h2>

            <div class="partner">
                <a href="http://zendframework.ru">
                    <img src="/images/partners/zfru.png" width="110" height="76" alt="Русскоязычное Zend Framework сообщество" title="Русскоязычное Zend Framework сообщество" />
                </a>
            </div>
            <div class="partner">
                <a href="http://stfalcon.com">
                    <img src="/images/partners/stfalcon.png" width="110" height="71" alt="Веб-студия stfalcon.com" title="Веб-студия stfalcon.com" />
                </a>
            </div>

            <h2>Медиа-партнеры</h2>
            
            <div class="partner">
                <a href="http://2011.symfonycamp.org.ua/">
                    <img src="/images/partners/symfonycamp.png" alt="Symfony конференция в Украине" title="Symfony конференция в Украине" />
                </a>
            </div>
            
            <h2>Друзья</h2>
            
            <div>
                <a href="http://crazycode.net/">
                    crazycode.net
                </a>
            </div>
            
            <div>
                <a href="http://easyweb.org.ua/">
                    easyweb.org.ua
                </a>
            </div>
            
            <div>
                <a href="http://minisotm.ru/">
                    minisotm.ru
                </a>
            </div>
            
            <div>
                <a href="http://kronus.me/">
                    kronus.me
                </a>
            </div>
            
            <div>
                <a href="http://igor-negrutsa.info/">
                    igor-negrutsa.info
                </a>
            </div>

            <div>
                <a href="http://tokarchuk.ru/">
                    tokarchuk.ru
                </a>
            </div>
            
            <div>
                <a href="http://tigor.com.ua/">
                    tigor.com.ua
                </a>
            </div>
            
        </div>

        {#<div class="become-partner"><a href="# ">Здесь может<br /> быть ваш логотип</a></div>#}

    </div><!-- .side-right-holder -->
</div><!-- .side-right-wrap -->