<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {% include '::_head.html.twig' %}

    <body>

        <div id="wrapper" class="sidebars-right">

            <nav class="top-nav">
                {{ knp_menu('event') }}
            </nav>
            
            <header id="header">
                <div class="wrap">
                    <div class="logo">
                        <a class="custom" href="{{ path('event_show', {'slug': event.slug } )}}" title="{{ event.title }}">
                            <img src="{{ event.logo }}" width="120" height="129" alt="" />
                        </a>
                    </div><!-- div.logo -->
                    <div class="event-head-text">26 августа 2011, Киев<br /> Экспо Плаза</div>
                </div>
            </header><!-- #header-->

            <nav class="event-nav">
                <div class="wrap">
                    <ul>
                        <li><a class="reg-button" href="# ">Зарегистрироваться</a></li>
                        <li><a href="# ">Программа</a></li>
                        <li class="active"><a href="# ">Докладчики</a></li>
                        <li><a href="# ">Участникам</a></li>
                        <li><a href="# ">Партнеры</a></li>
                        <li><a href="# ">Архив</a></li>
                        <li><a href="# ">Организаторы</a></li>
                    </ul>
                </div>
            </nav>

            <section id="middle">

                <div id="container">
                    <div id="content">

                        <h2>О событии</h2>

                        <article class="about-event">
                            <p>ZFConf Ukraine – первая в Украине конференция по Zend Framework, проводится в партнерстве с ZFConf Russia и сообществом zendframework.ru. ZFConf Russia была первой конференцией по Zend Framework и прошла в марте этого года в Санкт-Петербурге, Россия, собрав более 200 участников из России, Беларуси, Украины, Литвы и других стран СНГ</p>
                            <p>Конференция MageConf впервые прошла в мае 2010 года в Киеве. Это была первая конференция из серии PHP and Zend Framework в Украине. Ее посетили больше 150 специалистов.</p>
                            <p>Проведение совместной конференции даст шанс объединить лучших спикеров, лучшие доклады и самые интересные темы.</p>

                            <table class="event-details">
                                <tr>
                                    <td colspan="2">
                                        <div class="event-details-h">Место проведения:</div>
                                        <p>КиевЭкспоПлаза, ул. Салютная 2б, 3 павильон, Киев, Украина</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="event-details-h">Время:</div>
                                        <p>27 ноября 2010 г. (с 10:00 до 19:00)<br /> Регистрация участников начнется в 10:00.</p>
                                    </td>
                                    <td>
                                        <div class="event-details-h">Длительность:</div>
                                        <p>1 полный день</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="price" colspan="2">
                                        <p><b>Стоимость участия:</b> бесплатно</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="event-details-h">Формат:</div>
                                        <p>доклады в три потока и обсуждения на флипчарте (в перерывах)</p>
                                    </td>
                                    <td>
                                        <div class="event-details-h">Язык докладов:</div>
                                        <p>русский</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="event-details-h">Аудитория:</div>
                                        <p>Разработчики ПО и специалисты по Project Management с Украины, России и близлежащих стран СНГ. Ожидаемое количество участников – 500 человек</p>
                                    </td>
                                    <td>
                                        <div class="event-details-h">Потоки:</div>
                                        <p>Zend Framework, PHP, Magento</p>
                                    </td>
                                </tr>
                            </table>
                        </article>

                        <ul class="socnet-likes">
                            <li class="vk"><a href="# "><img src="/images/temp/socnet-like-vk.png" width="82" height="22" alt="" /></a></li>
                            <li class="fb"><a href="# "><img src="/images/temp/socnet-like-fb.png" width="124" height="20" alt="" /></a></li>
                            <li class="tw"><a href="# "><img src="/images/temp/socnet-like-tw.png" width="107" height="20" alt="" /></a></li>
                            <li class="gg"><a href="# "><img src="/images/temp/socnet-like-gg.png" width="76" height="20" alt="" /></a></li>
                        </ul>

                    </div><!-- #content-->
                </div><!-- #container-->

                <aside id="side-left">

                    <h2>Докладчики</h2>

                    <ul class="presenters">
                        <li>
                            <div class="presenter-photo"><img src="/images/temp/presenter-mini1.jpg" width="64" height="64" alt="" /></div>
                            <div class="presenter-info">
                                <a href="# ">Александр Веремьев</a>
                                <div class="presenter-company">Zend Technologies</div>
                            </div>
                        </li>
                        <li>
                            <div class="presenter-photo"><img src="/images/temp/presenter-mini2.jpg" width="64" height="64" alt="" /></div>
                            <div class="presenter-info">
                                <a href="# ">Ростислав Михайлив</a>
                                <div class="presenter-company">4C</div>
                            </div>
                        </li>
                        <li>
                            <div class="presenter-photo"><img src="/images/temp/presenter-mini3.jpg" width="64" height="64" alt="" /></div>
                            <div class="presenter-info">
                                <a href="# ">Ростислав Михайлив</a>
                                <div class="presenter-company">Gadu-Gadu</div>
                            </div>
                        </li>
                    </ul>
                    <div class="allpresenters-link"><a href="# ">все докладчики</a></div>

                    <h2>Новости</h2>

                    <ul class="side-news">
                        <li>
                            <a href="# ">ZFConf Ukraine 2010 успешно состоялась!</a>
                            <div class="sn-date">30 Ноя 2010</div>
                        </li>
                        <li>
                            <a href="# ">Конференция пройдет завтра, в субботу 27го ноября</a>
                            <div class="sn-date">26 Ноя 2010</div>
                        </li>
                        <li>
                            <a href="# ">Подтверждение участия по электронной почте</a>
                            <div class="sn-date">26 Ноя 2010</div>
                        </li>
                        <li>
                            <a href="# ">Информация для приезжих</a>
                            <div class="sn-date">18 Ноя 2010</div>
                        </li>
                        <li>
                            <a href="# ">Новый доклад – «NoSQL и Zend Framework»</a>
                            <div class="sn-date">16 Ноя 2010</div>
                        </li>
                    </ul>
                    <div class="allnews-link"><a href="# ">все новости</a></div>
                </aside><!-- #side-left -->

                <aside id="side-right">
                    <div class="side-right-wrap">
                        <div class="side-right-holder">

                            <div class="partners">

                                <h2>Спонсоры</h2>
                                <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-magento.png" width="110" height="67" alt="Magento" title="Magento" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-habr.png" width="110" height="63" alt="Habrahabr" title="Habrahabr" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-runnerpeak.png" width="110" height="62" alt="Runnerpeak" title="Runnerpeak" /></a></div>

                            </div>

                            <div class="partners">

                                <h2>Партнеры</h2>
                                <div class="partner"><a href="# "><img src="/images/temp/img-partner-zconf.png" width="110" height="69" alt="ZConf" title="ZConf" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-partner-zfru.png" width="110" height="76" alt="ZF.RU" title="ZF.RU" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-partner-stfalcon.png" width="110" height="71" alt="Stfalcon" title="Stfalcon" /></a></div>

                            </div>

                            <div class="become-partner"><a href="# ">Здесь может<br /> быть ваш логотип</a></div>

                        </div><!-- .side-right-holder -->
                    </div><!-- .side-right-wrap -->
                </aside><!-- #side-right -->

            </section><!-- #middle-->

        </div><!-- #wrapper -->

        {% include '::_footer.html.twig' %}

    </body>
</html>