<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {% include '::_head.html.twig' %}
        
    <body>
        <div id="wrapper">
            {% include '::_header.html.twig' with {'no_head': false} %}

            <section id="middle">

                <div id="container">
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div><!-- #content-->
                </div><!-- #container-->

                <aside id="side-left">
                    <div class="soc-plugin-holder"><div class="tmp-soc-plugin"></div></div>
                    <div class="soc-plugin-holder"><div class="tmp-soc-plugin"></div></div>
                    <div class="soc-plugin-holder"><div class="tmp-soc-plugin"></div></div>
                </aside><!-- #side-left -->

                <aside id="side-right">
                    <div class="side-right-wrap">
                        <div class="side-right-holder">

                            <div class="partners">

                                <h2>Спонсоры</h2>
                                <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-magento.png" width="110" height="67" alt="Magento" title="Magento" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-habr.png" width="110" height="63" alt="Habrahabr" title="Habrahabr" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-runnerpeak.png" width="110" height="62" alt="Runnerpeak" title="Runnerpeak" /></a></div>

                            </div>

                            <div class="partners">

                                <h2>Партнеры</h2>
                                <div class="partner"><a href="# "><img src="/images/temp/img-partner-zconf.png" width="110" height="69" alt="ZConf" title="ZConf" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-partner-zfru.png" width="110" height="76" alt="ZF.RU" title="ZF.RU" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-partner-stfalcon.png" width="110" height="71" alt="Stfalcon" title="Stfalcon" /></a></div>

                            </div>

                            <div class="become-partner"><a href="# ">Здесь может<br /> быть ваш логотип</a></div>

                        </div><!-- .side-right-holder -->
                    </div><!-- .side-right-wrap -->
                </aside><!-- #side-right -->

            </section><!-- #middle-->

        </div><!-- #wrapper -->

        {% include '::_footer.html.twig' %}
    </body>
</html>