<!DOCTYPE html>
<html>
    {% include '::_head.html.twig' %}
        
    <body>
        <div id="wrapper" class="no-head">
            {% include '::_header.html.twig' with {'no_head': true} %}

            <section id="middle">

                <div id="container">
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div><!-- #content-->
                </div><!-- #container-->

                <aside id="side-left">
                    {% include "::_soc-widgets.html.twig" %}
                </aside><!-- #side-left -->

                <aside id="side-right">
                    {% include "::_sponsors.html.twig" %}
                </aside><!-- #side-right -->

            </section><!-- #middle-->

        </div><!-- #wrapper -->

        {% include '::_footer.html.twig' %}
    </body>
</html>