<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {% include '::_head.html.twig' %}
        
    <body>
        <div id="wrapper">
            {% include '::_header.html.twig' with {'no_head': false} %}

            <section id="middle">

                <div id="container">
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div><!-- #content-->
                </div><!-- #container-->

                <aside id="side-left">
                    <div class="soc-plugin-holder"><div class="tmp-soc-plugin"></div></div>
                    <div class="soc-plugin-holder"><div class="tmp-soc-plugin"></div></div>
                    <div class="soc-plugin-holder"><div class="tmp-soc-plugin"></div></div>
                </aside><!-- #side-left -->

                <aside id="side-right">
                    {% include "::_sponsors.html.twig" %}
                </aside><!-- #side-right -->

            </section><!-- #middle-->

        </div><!-- #wrapper -->

        {% include '::_footer.html.twig' %}
    </body>
</html>