{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div class="pull-left" style="padding-right: 10px">
        <span>Логотип</span><br />
        <img src="{{vich_uploader_asset(object, 'logoFile') }}" title="logo image" width="100px" height="auto" style="background-color: {{ object.backgroundColor }};"/>
    </div>
    {% if object.smallLogoFile is not empty %}
    <div class="pull-left" style="padding-right: 10px">
        <span>Мини логотип</span><br />
        <img src="{{vich_uploader_asset(object, 'smallLogoFile') }}" title="small logo image" width="100px" height="auto" />
    </div>
    {% endif %}
{% endblock %}