{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div class="pull-left" style="padding-right: 10px">
        <span>Logo</span><br />
        <img src="{{ asset('uploads/events/' ~ object.logo) }}" title="Image" width="100px" height="auto" />
    </div>
    <div class="pull-left" style="padding-right: 10px">
        <span>Email Baground</span><br />
        {% if (object.emailBackground != '') %}
            <img src="{{ asset('uploads/events/' ~ object.emailBackground) }}" title="Image" width="100px" height="auto" />
        {% endif %}
    </div>
    <div class="pull-left">
        <span>Pdf Background</span><br />
        {% if (object.backgroundImage != '') %}
            <img src="{{ asset('uploads/events/' ~ object.backgroundImage) }}" title="Image" width="100px" height="auto" />
        {% endif %}
    </div>
{% endblock %}