{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div class="pull-left" style="padding-right: 10px">
        <span>Logo</span><br />
        <img src="{{ url('homepage') ~ vich_uploader_asset(object, 'logoFile') }}" title="logo image" width="100px" height="auto" />
    </div>
    <div class="pull-left" style="padding-right: 10px">
        <span>Email Background</span><br />
        <img src="{{ url('homepage') ~ vich_uploader_asset(object, 'emailBackgroundFile') }}" title="email background image" width="100px" height="auto" />
    </div>
    <div class="pull-left">
        <span>Pdf Background</span><br />
        <img src="{{ url('homepage') ~ vich_uploader_asset(object, 'pdfBackgroundFile') }}" title="PDF background image" width="100px" height="auto" />
    </div>
{% endblock %}