{% if admin.granted('EDIT') and object.payment is not null and object.payment.isPaid %}
    <a href="{{ admin.generateObjectUrl('remove_ticket_from_payment', object) }}" class="btn btn-sm btn-default edit_link remove-paid-tiket" title=''>Remove ticket from payment</a>
{% endif %}

