<a href="{{ admin.generateObjectUrl('admin_send', object) }}" class="btn btn-sm btn-default edit_link" title="{%- trans from 'SonataAdminBundle' %}label_mail_to_admin{% endtrans -%}">
    <i class="glyphicon glyphicon-ok-circle"></i>&nbsp;
    {%- trans from 'SonataAdminBundle' %}label_mail_to_admin{% endtrans -%}
</a>
