<a href="{{ admin.generateObjectUrl('admin_send', object) }}" class="btn btn-sm btn-default edit_link" title="Оправить админам">
    <i class="glyphicon glyphicon-ok-circle"></i>&nbsp;
    Оправить админам
</a>
