<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    {%- block field %}
        {% for element in value %}
            <a class="sonata-link-identifier" href="{{ path('admin_stfalcon_event_ticket_show',{'id':element.id}) }}">
                {{ element.user }}
            </a>
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endblock -%}
</td>