<div class="events-switches">
    <div class="wrap">
        <ul>
            {% for event in events %}
            <li><a class="switch" href="#">{{ event.name }}</a></li>
            {% endfor %}
            <li class="past-events"><a href="# ">Прошедшие</a></li>
        </ul>
    </div>
</div>