{% if event.receivePayments %}
    <div class="button-take-part">
        <a class="button-take-part" href="{{ path('event_takePart', {'event_slug': event.slug }) }}">
            Принять участие
        </a>
    </div>
{% endif %}