{% extends 'StfalconEventBundle::events-layout.html.twig' %}

{% block title %}События / {{ parent() }}{% endblock %}

{% block content %}
    {% if active_events|length %}
        <h2>Будущие события</h2>
        <table class="conferences-list">
            <tbody>
                {% for event in active_events %}
                    {% include "StfalconEventBundle:Event:_event_row.html.twig" with {'event': event, 'user_events_info': user_active_events_info} %}
                {% endfor %}
                {#<tr><td></td><td><a class="propose-conference-theme" href="# ">Я хочу предложить тему конференции</a></td></tr>#}
            </tbody>
        </table>
    {% endif %}

    {% if past_events|length %}
        <h2>Прошедшие события</h2>
        <table class="conferences-list conferences-list-past">
            <tbody>
                {% for event in past_events %}
                    {% include "StfalconEventBundle:Event:_event_row.html.twig" with {'event': event, 'user_events_info': user_past_events_info} %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
