{% extends '::main-no-head.html.twig' %}

{% block content %}
    <h2>Будущие события</h2>

    <table class="conferences-list">
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="conf-logo"><img src="{{ entity.logo }}" width="82" height="87" alt="{{ entity.title }}"></td>
                    <td class="conf-info">
                        <div class="conf-info-h">26 августа 2011, Киев<br> Экспо Плаза</div>
                        <p>{{ entity.description }}</p>
                        <div class="conf-info-links"><a href="# ">Детальная информация</a></div>
                    </td>
                </tr>
            {% endfor %}

        {#<tr><td></td><td><a class="propose-conference-theme" href="# ">Я хочу предложить тему конференции</a></td></tr>#}
        </tbody>
    </table>

    {#<h2>Прошедшие события</h2>

    <table class="conferences-list conferences-list-past">
        <tbody><tr>
            <td class="conf-logo"><img src="images/temp/zfd-logo-mini.png" width="82" height="87" alt=""></td>
            <td class="conf-info">
                <div class="conf-info-h">26 августа 2011, Киев<br> Экспо Плаза</div>
                <p>ZFConf Ukraine – первая в Украине конференция по Zend Framework, проводится в партнерстве с ZFConf Russia и сообществом zendframework.ru.</p>
                <div class="conf-info-links"><a href="# ">Доклады</a> <a href="# ">Детальная информация</a></div>
            </td>
        </tr>

        <tr>
            <td class="conf-logo"><img src="images/temp/pfd-logo-mini.png" width="88" height="87" alt=""></td>
            <td class="conf-info">
                <div class="conf-info-h">26 августа 2011, Киев<br> Экспо Плаза</div>
                <p>ZFConf Ukraine – первая в Украине конференция по Zend Framework, проводится в партнерстве с ZFConf Russia и сообществом zendframework.ru.</p>
                <div class="conf-info-links"><a href="# ">Доклады</a> <a href="# ">Детальная информация</a></div>
            </td>
        </tr>

        <tr>
            <td class="conf-logo"><img src="images/temp/zfd-logo-mini.png" width="82" height="87" alt=""></td>
            <td class="conf-info">
                <div class="conf-info-h">26 августа 2011, Киев<br> Экспо Плаза</div>
                <p>ZFConf Ukraine – первая в Украине конференция по Zend Framework, проводится в партнерстве с ZFConf Russia и сообществом zendframework.ru.</p>
                <div class="conf-info-links"><a href="# ">Доклады</a> <a href="# ">Детальная информация</a></div>
            </td>
        </tr>

        <tr>
            <td class="conf-logo"><img src="images/temp/pfd-logo-mini.png" width="88" height="87" alt=""></td>
            <td class="conf-info">
                <div class="conf-info-h">26 августа 2011, Киев<br> Экспо Плаза</div>
                <p>ZFConf Ukraine – первая в Украине конференция по Zend Framework, проводится в партнерстве с ZFConf Russia и сообществом zendframework.ru.</p>
                <div class="conf-info-links"><a href="# ">Доклады</a> <a href="# ">Детальная информация</a></div>
            </td>
        </tr>
    </tbody></table>#}
{% endblock %}