{% extends 'StfalconEventBundle::events-layout.html.twig' %}

{% block title %}События / {{ parent() }}{% endblock %}

{% block content %}

    {% if activeEvents|length %}
        <h2>Будущие события</h2>

        <table class="conferences-list">
            <tbody>
                {% for event in activeEvents %}
                    {% include "StfalconEventBundle:Event:_event_row.html.twig" with { 'event': event } %}
                {% endfor %}

            {#<tr><td></td><td><a class="propose-conference-theme" href="# ">Я хочу предложить тему конференции</a></td></tr>#}
            </tbody>
        </table>
    {% endif %}

    {% if pastEvents|length %}
        <h2 id="past-events">Прошедшие события</h2>

        <table class="conferences-list conferences-list-past">
            <tbody>
                {% for event in pastEvents %}
                    {% include "StfalconEventBundle:Event:_event_row.html.twig" with { 'event': event } %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}