{% extends 'StfalconEventBundle::layout.html.twig' %}

{% block title %}{{ 'event.about'|trans }} / {{ parent() }}{% endblock %}

{% block content %}
    <h2>{{ 'event.about'|trans }}</h2>

    <article class="about-event">
        {{ event.about|raw }}
    </article>

    {% include "@StfalconEvent/_share_buttons.html.twig" %}

{% endblock %}
