{% extends 'StfalconEventBundle::layout.html.twig' %}

{% block content %}
    <h2>О событии</h2>

    <article class="about-event">
        {{ event.about|raw }}
    </article>

    {% include "StfalconEventBundle::_share_buttons.html.twig" %}

{% endblock %}