{% extends 'StfalconEventBundle::layout.html.twig' %}

{% block content %}
    <h2>О событии</h2>

    <article class="about-event">
        {{ event.about|raw }}
    </article>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:action="recommend"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e976de3658cacf2"></script>
    <!-- AddThis Button END -->

{% endblock %}