<form method="post">
    <p>{{ 'add_user.company'|trans }}<input name="company"></p>
    <p>{{ 'add_user.city'|trans }}<input name="city"></p>
    <p>{{ 'add_user.price'|trans }}<input name="amount"></p>

    {{ 'add_user.user_list'|trans }}<textarea name="users"></textarea>
    <input type="submit" value="Add" />
</form>
