{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.user  %}
        <a href="{{ path('admin_application_default_user_edit', {'id':object.user.id}) }}">{{ object.user.fullname }}</a>
    {% endif %}
{% endblock %}
