<div class="event-cost event-cost--premium">
    <div class="event-cost__type">Преміум</div>
    <div class="event-cost__features">
        {{ benefits|raw }}
    </div>
    {% include 'Redesign/Event/Price/_price_block_cost.html.twig' %}
</div>
