<div class="event-cost__card event-cost__card--full">
    <div class="event-cost">
        <div class="event-cost__top">
            <div class="event-cost__type">{{ 'event_cost_full'|trans }}</div>
            <div class="event-cost__features">
                {{ benefits|raw }}
            </div>
        </div>
        <div class="event-cost__bottom">
            {% include 'Redesign/Event/Price/_price_block_cost.html.twig' %}
        </div>
    </div>
</div>
