<div class="event-cost event-cost--standart">
    <div class="event-cost__type">Стандартний</div>
    <div class="event-cost__features">
        {{ benefits|raw }}
    </div>
    <div class="event-cost__price">
        <div class="event-cost__price-top">
            <div class="cost__price">2 300 грн<span class="cost__dollars">≈$94</span></div>
            <div class="cost__tickets">
                50 квитків<span class="cost__sales">Закінчуються</span>
            </div>
        </div>
        <div class="event-cost__price-bottom">
            <p class="cost-tickets">наступні 150 квитків — 2600 грн</p>
            <p class="cost-tickets">наступні 100 квитків — 2800 грн</p>
        </div>
        <div class="btn btn--primary btn--lg event-cost__btn">
            Купити квиток
        </div>
    </div>
</div>
