<div class="event-cost event-cost--standart">
    <div class="event-cost__type">Стандартний</div>
    <div class="event-cost__features">
        {{ benefits|raw }}
    </div>
    {% include 'Redesign/Event/Price/_price_block_cost.html.twig' %}
</div>
