<div class="event-cost event-cost--free">
    <div class="event-cost__type">Безкоштовний</div>
    <div class="event-cost__features">
        {{ benefits|raw }}
    </div>
    <div class="event-cost__price">
        <div class="btn btn--primary btn--lg event-cost__btn">
            {{ 'ticket.status.get'|trans }}
        </div>
    </div>
</div>
