{% block content %}
<!--BEGIN signup-payment-popup РЕГИСТРАЦИЯ-->
<div>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title">{{ 'menu.user.registration'|trans }}</h2>
        </div>
        {% include '@ApplicationDefault/Redesign/registration_form.html.twig' %}
    </div>
</div>
<!--END signup-payment-popup-->
{% endblock content %}