{% extends '@ApplicationDefault/Redesign/layout.html.twig' %}

{% block content %}

    <!--BEGIN signup-payment-popup РЕГИСТРАЦИЯ-->
    <div class="form-auth">
        <h2 class="h2 form-auth__title">{{ 'menu.user.registration'|trans }}</h2>
        {% include '@ApplicationDefault/Redesign/registration_form.html.twig' with {'remodal':'', 'queryLink':''} %}
    </div>
    <!--END signup-payment-popup-->
{% endblock content %}
