{% block content %}

<!--BEGIN signup-payment-popup РЕГИСТРАЦИЯ-->
<div class="form-auth">
    <h2 class="h2 form-auth__title">{{ 'menu.user.registration'|trans }}</h2>
    {% for error in form.vars.errors %}
        <p class="text-error">{{ error.message|trans }}</p>
    {% endfor %}
    {% include '@ApplicationDefault/Redesign/registration_form.html.twig' with {'loginLink':path('fos_user_security_login'), 'queryLink':''} %}
</div>
<!--END signup-payment-popup-->
{% endblock content %}

