{% extends 'ApplicationDefaultBundle::layout.html.twig' %}

{% block content %}
    <div class="event-description__text">
    <h2>{{ 'interkassa.payment.fail'|trans }}</h2>

    {{ 'interkassa.payment.fail.back'|trans }}
    </div>
{% endblock %}