{% extends 'ApplicationDefaultBundle::layout.html.twig' %}

{% block content %}
    <div class="container container--sm">
        <h2>{{ 'interkassa.payment.fail'|trans }}</h2>

        {{ 'interkassa.payment.fail.back'|trans }}
    </div>
{% endblock %}