{% extends 'ApplicationDefaultBundle::layout.html.twig' %}

{% block content %}
    <h2>{{ 'interkassa.payment.success'|trans }}</h2>

    {{ 'interkassa.payment.success.emailsend'|trans|raw }}"<a href="{{ path("events") }}">{{ 'events.my'|trans }}</a>".

{% endblock %}