{% extends 'ApplicationDefaultBundle::layout.html.twig' %}

{% block content %}
    <div class="container container--sm">
        <h2>{{ 'interkassa.payment.success'|trans }}</h2>

        {{ 'interkassa.payment.success.emailsend'|trans|raw }} "<a href="{{ path("cabinet") }}">{{ 'main.menu.cabinet'|trans }}</a>".
    </div>
{% endblock %}