<section class="video">
    <div class="container">
        <div class="video__box">
            <div class="video__frame">
                <iframe width="560" height="315" id="youtube-video" class="lazyload"
                        data-src="https://www.youtube.com/embed/{% if is_playlist %}videoseries?list={{ event_block.text }}&{% else %}{{ event_block.text }}?{% endif %}modestbranding=1"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            {% if is_playlist == false -%}
                <div class="video__description">
                    <iframe width="560" height="315" class="lazyload"
                            data-src="https://www.youtube.com/live_chat?v={{ event_block.text }}&embed_domain={{ app.request.host }}"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
            {%- endif -%}
        </div>
    </div>
</section>
