{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% set max_length = 80 %}

{% block field %}
    {% set from_url = value|length > max_length ? value|slice(0, max_length-1) ~ '...' : value %}
    {% if from_url != value %}
        <p data-full-url="{{ value }}" class="short-url editable editable-pre-wrapped editable-click">{{ from_url }}</p>
    {% else %}
        <p>{{ from_url }}</p>
    {% endif %}
{% endblock %}
