{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.user  %}
        <a href="{{ path('admin_app_user_edit', {'id':object.user.id}) }}">{{ object.user.fullname }}</a>
    {% else %}
        <p>{{ object.cookieId }}</p>
    {% endif %}
{% endblock %}
