{% extends '@App/Redesign/layout.html.twig' %}

{% block content %}
<!--BEGIN form-box-->
<div class="form-box">
    <h2 class="h2 form-box__title">{{ 'user.change_password.title'|trans }}</h2>
    {% include '@FOSUser/ChangePassword/change_password_content.html.twig' %}
</div>
{% endblock content %}

