{% extends '@App/Redesign/layout.html.twig' %}

{% block content %}

    <!--BEGIN signup-payment-popup РЕГИСТРАЦИЯ-->
    <div class="form-box">
        <h2 class="h2 form-box__title">{{ 'menu.user.registration'|trans }}</h2>
        {% include '@App/Redesign/registration_form.html.twig' with {'remodal':'', 'queryLink':'?'~app.request.queryString} %}
    </div>
    <!--END signup-payment-popup-->
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}' async defer></script>
{% endblock %}