{% extends '/layout.html.twig' %}

{% block content %}
    <div class="container container--sm static-styles">
        <h2>{{ 'interkassa.payment.fail'|trans }}</h2>

        <p>{{ 'interkassa.payment.fail.back'|trans }}</p>
    </div>
{% endblock %}
