{% extends 'StfalconPaymentBundle::layout.html.twig' %}

{% block content %}
    <h2>Не удалось провести платеж!</h2>

    Пожалуйста, вернитесь на страницу оплаты билета и попробуйте ещё раз.

{% endblock %}