{% extends 'StfalconPaymentBundle::layout.html.twig' %}

{% block content %}
    <h2>Оплата прошла успешно!</h2>

    На Ваш e-mail отправлено сообщение с подтверждением оплаты и билетом участника конференции. Также Вы можете скачать билет на странице "<a href="{{ path("events_my") }}">Мои события</a>".

{% endblock %}