<form id="modal-change-password" method="post">
    <div class="form-row">
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="form-group">
                <label class="form-label form-label--required" for="user_password-old">Поточний</label>
                <input class="input" type="password" id="user_password-old" name="_password-old" value="">
            </div>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="form-group">
                <label class="form-label form-label--required" for="user_password-new">Новий</label>
                <input class="input" type="password" id="user_password-new" name="_password-new" value="">
            </div>
        </div>
    </div>
    <div class="form-row form-row--align-center">
        <div class="form-col form-col--6 form-col--xs-12">
            <button class="btn btn--primary btn--lg form-col__btn" type="submit">Оновити</button>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="help-links help-links--right ">
                <div class="help-links__item">
                    <a data-remodal-target="modal-forgot-password" href="#" class="form-link">{{ 'user.forgot_password.title'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</form>
