{% extends 'ApplicationDefaultBundle:Redesign:layout.html.twig' %}

{% block content %}
    <!--BEGIN contacts-->
    <section class="contacts">
        <div class="container container--sm">
            <h2 class="h2 contacts__title">Контактна інформація</h2>
            <div class="contact-info">
                <div class="contact-info__item">
                    <div class="contact-info__label">Електронна пошта:</div>
                    <a href="mailto:orgs@fwdays.com" class="contact-info__link contact-info__link--blue-light">orgs@fwdays.com</a>
                </div>
                <div class="contact-info__item">
                    <div class="contact-info__label">Адреса:</div>
                    <a href="mailto:orgs@fwdays.com" class="contact-info__link">Київ, вул. Виборзька, 42а</a>
                </div>
                <div class="contact-info__item">
                    <div class="contact-info__label">Facebook спільнота:</div>
                    <a href="mailto:orgs@fwdays.com"
                       class="contact-info__link contact-info__link--blue-dark">@fwdays</a>
                </div>
            </div>
            <div class="organizers">
                <div class="organizers__label">Організатори:</div>
                <ul class="organizers__items">
                    <li class="organizer-card organizers__item">
                        <div class="organizer-card__caption">Питання з&nbsp;реєстрації та&nbsp;оплати участі у&nbsp;конференціях</div>
                        <img class="organizer-card__photo" src="{{ asset('img/organizers/buhanova.png') }}" alt="" width="160"
                             height="160">
                        <div class="organizer-card__name">Тетяна Буханова</div>
                        <a class="organizer-card__tel" href="tel:380992159622">+380 99 215-96-22</a>
                        <a class="organizer-card__mail" href="mailto:tanyabukhanova@fwdays.com">tanyabukhanova@fwdays.com</a>
                    </li>
                    <li class="organizer-card organizers__item">
                        <div class="organizer-card__caption">Питання співпраці та&nbsp;партнерства з&nbsp;Fwdays
                        </div>
                        <img class="organizer-card__photo" src="{{ asset('img/organizers/bojik.png') }}" alt="" width="160"
                             height="160">
                        <div class="organizer-card__name">Ірина Божик</div>
                        <a class="organizer-card__tel" href="tel:380992159622">+380 67 999-5-888</a>
                        <a class="organizer-card__mail"
                           href="mailto:tanyabukhanova@fwdays.com">iryna.bozhyk@fwdays.com</a>
                    </li>
                    <li class="organizer-card organizers__item">
                        <div class="organizer-card__caption">Питання інфопартнерства, мітапи і&nbsp;майстер-класи
                        </div>
                        <img class="organizer-card__photo" src="{{ asset('img/organizers/lara.png') }}" alt="" width="160"
                             height="160">
                        <div class="organizer-card__name">Лара Лукьянюк</div>
                        <a class="organizer-card__tel" href="tel:380992159622">+380 98 526-56-06</a>
                        <a class="organizer-card__mail" href="mailto:tanyabukhanova@fwdays.com">lara.lukyanyuk@fwdays.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--END contacts-->
{% endblock content %}