{% if class is not empty %}
    {% if isDiv %}<div{% else %}<a{% endif %}
    {% if href %} href="{{ href }}"{% endif %}
    {% if class %} class="{{ class }}"{% endif %}
    {% if data %} data-event="{{ data }}"{% endif %}
    >{% if caption %}{{ caption|raw }}{% endif %}{% if isDiv %}</div>{% else %}</a>{% endif %}
{% else %}
    {% set ticketStatus = 'status_download' %}
{% endif %}