<form action="{{ url("fos_user_resetting_send_email") }}" method="post">
    <div class="form-row form-row--align-bottom">
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="form-group">
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                {% endif %}
                <label class="form-label" for="forgot_user_email">{{ 'user.email.title'|trans }}</label>
                <input class="input" id="forgot_user_email" type="email" name="username" value="">
            </div>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <button class="btn btn--primary btn--lg form-col__btn" type="submit">{{ 'user.reset_password.title'|trans }}</button>
        </div>
    </div>
</form>