<form action="{{ url("fos_user_resetting_send_email") }}" method="post">
    <div class="form-row">
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="form-group">
                <label class="form-label" for="forgot_user_email">{{ 'user.email.title'|trans }}</label>
                <input class="input {% if invalid_username is defined %}input--error{% endif %}" id="forgot_user_email" type="email" name="username" value="">
                {% if invalid_username is defined %}<p class="text-error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>{% endif %}
            </div>
        </div>
        <div class="form-col form-col--btn-lg form-col--6 form-col--xs-12">
            <button class="btn btn--primary btn--lg form-col__btn" type="submit">{{ 'user.reset_password.caption'|trans }}</button>
        </div>
    </div>
</form>