<!--BEGIN header-->
<header class="header">
    <div class="header__left">
        <a href="{{ path('homepage_redesign') }}" class="logo header__logo">
            <img class="logo__img" src="{{ asset('img/logo_header.svg') }}" alt="">
        </a>
        {% include '@ApplicationDefault/Redesign/menu.html.twig' with {'position':'header'} %}
    </div>
    <div class="header__right">
        {% render controller('ApplicationDefaultBundle:Widgets:languageSwitcher', {'request': app.request, 'position' : 'header'}) %}
        <div class="social header__social">
            {% include '@ApplicationDefault/Redesign/social.html.twig' %}
        </div>
        {% include '@ApplicationDefault/Redesign/menu.login.html.twig' with {'position' : 'header__auth'} %}
    </div>
</header>
<!--END header-->