<li class="partners__item">
    <a href="{{ partner.site }}" class="partners__link">
                                    <span class="partners__logo"
                                          style="background-image:url('{{ vich_uploader_asset(partner, 'file') }}')"></span>
    </a>
</li>