<li class="partners__item">
    <a href="{{ partner.site }}" target="_blank" class="partners__link">
        {% if partner.file is not empty%}
        <span class="partners__logo" style="background-image:url('{{ vich_uploader_asset(partner, 'file') }}')"></span>
        {% endif%}
    </a>
</li>