{% if partners %}
<!--BEGIN partners-->
<section class="partners">
    <div class="container container--sm">
        <div class="partners__box">
            <div class="partners__title">Золотые партнеры</div>
            <ul class="partners__items">
                <li class="partners__item">
                    <a href="#" class="partners__link">
                        <span class="partners__logo"
                              style="background-image: url('https://frameworksdays.com/uploads/sponsors/zone3000.png');"></span>
                    </a>
                </li>
                <li class="partners__item">
                    <a href="#" class="partners__link">
                        <span class="partners__logo"
                              style="background-image: url('https://frameworksdays.com/uploads/sponsors/Software_cmyk.png');"></span>
                    </a>
                </li>
                <li class="partners__item">
                    <a href="#" class="partners__link">
                        <span class="partners__logo"
                              style="background-image: url('https://frameworksdays.com/uploads/sponsors/Svitla_140.png');"></span>
                    </a>
                </li>
                <li class="partners__item">
                    <a href="#" class="partners__link">
                        <span class="partners__logo"
                              style="background-image: url('https://frameworksdays.com/uploads/sponsors/Dataart-logo-new_140.png');"></span>
                    </a>
                </li>
                <li class="partners__item">
                    <a href="#" class="partners__link">
                        <span class="partners__logo"
                              style="background-image: url('https://frameworksdays.com/uploads/sponsors/InfoPulse.jpg');"></span>
                    </a>
                </li>
                <li class="partners__item">
                    <a href="#" class="partners__link">
                        <span class="partners__logo"
                              style="background-image: url('https://frameworksdays.com/uploads/sponsors/levi9.png');"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="partners__box">
            <div class="partners__title">Серебряные партнеры</div>
            <ul class="partners__items">
                <li class="partners__item">
                    <a href="#" class="partners__link">
                        <span class="partners__logo"
                              style="background-image: url('https://frameworksdays.com/uploads/sponsors/Intetics_140_new.png');"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="partners__box">
            <div class="partners__cols">
                <div class="partners__left">
                    <div class="partners__title">Партнеры</div>
                    <ul class="partners__items">
                        <li class="partners__item">
                            <a href="#" class="partners__link">
                                <span class="partners__logo"
                                      style="background-image: url('https://frameworksdays.com/uploads/sponsors/logo_triangle.png');"></span>
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#" class="partners__link">
                                <span class="partners__logo"
                                      style="background-image: url('https://frameworksdays.com/uploads/sponsors/logo-small-125.png');"></span>
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#" class="partners__link">
                                <span class="partners__logo"
                                      style="background-image: url('https://frameworksdays.com/uploads/sponsors/taxer-logo.png');"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="partners__right">
                    <div class="partners__title">Инфо партнеры</div>
                    <ul class="partners__items">
                        <li class="partners__item">
                            <a href="#" class="partners__link">
                                <span class="partners__logo"
                                      style="background-image: url('https://frameworksdays.com/uploads/sponsors/logo_triangle.png');"></span>
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#" class="partners__link">
                               <span class="partners__logo"
                                     style="background-image: url('https://frameworksdays.com/uploads/sponsors/logo-small-125.png');"></span>
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#" class="partners__link">
                            <span class="partners__logo"
                                  style="background-image: url('https://frameworksdays.com/uploads/sponsors/taxer-logo.png');"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END partners-->
{% endif %}