<!--BEGIN signin-popup-->
<div class="remodal remodal--md" data-remodal-id="modal-signin">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title">Вход</h2>
        </div>
        <form action="{{ url("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <div class="login-social-buttons">
                <div class="form-hint">Войдите как пользователь</div>
                <div class="form-row">
                    <div class="form-col form-col--6 form-col--xs-12">
                        <a href="#" class="btn btn--lg btn--facebook form-col__btn">
                            <i class="icon-login-facebook"></i>
                        </a>
                    </div>
                    <div class="form-col form-col--6 form-col--xs-12">
                        <a href="#" class="btn btn--lg btn--google form-col__btn">
                            <i class="icon-login-google"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-hint">Или по почте</div>
            <div class="form-row">
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="form-group">
                        <label class="form-label" for="">Электронная почта</label>
                        <input class="input" type="email" name="_username" value="">
                    </div>
                </div>
                <div class="form-col form-col--6 form-col--xs-12">
                    <label class="form-label" for="">Пароль</label>
                    <input class="input" type="password" name="_password" value="">
                </div>
            </div>
            <div class="form-row form-row--checkbox">
                <div class="form-col">
                    <div class="checkbox">
                        <input id="check1" type="checkbox" class="checkbox__input">
                        <label for="check1" class="checkbox__label">Запомнить меня</label>
                    </div>
                </div>
            </div>
            <div class="form-row form-row--align-center">
                <div class="form-col form-col--6 form-col--xs-12">
                    <button class="btn btn--primary btn--lg form-col__btn" type="submit">Войти</button>
                </div>
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="help-links">
                        <a href="#modal-forgot-password" class="form-link help-links__item">Забыли пароль?</a>
                        <a href="#modal-signup-payment" class="form-link help-links__item">Зарегистрироваться </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--END signin-popup-->

<!--BEGIN signin-payment-popup-->
<div class="remodal remodal--md" data-remodal-id="modal-signin-payment">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title">Оплата участия в конференции PHP&nbsp;fwdays '17</h2>
        </div>
        <form action="">
            <div class="login-social-buttons">
                <div class="form-hint">Войдите как пользователь</div>
                <div class="form-row">
                    <div class="form-col form-col--6 form-col--xs-12">
                        <a href="#" class="btn btn--lg btn--facebook form-col__btn">
                            <i class="icon-login-facebook"></i>
                        </a>
                    </div>
                    <div class="form-col form-col--6 form-col--xs-12">
                        <a href="#" class="btn btn--lg btn--google form-col__btn">
                            <i class="icon-login-google"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-hint">Или по почте</div>
            <div class="form-row">
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="form-group">
                        <label class="form-label" for="">Электронная почта</label>
                        <input class="input" type="email" value="">
                    </div>
                </div>
                <div class="form-col form-col--6 form-col--xs-12">
                    <label class="form-label" for="">Пароль</label>
                    <input class="input" type="password" value="">
                </div>
            </div>
            <div class="form-row form-row--checkbox">
                <div class="form-col">
                    <div class="checkbox">
                        <input id="check2" type="checkbox" class="checkbox__input">
                        <label for="check2" class="checkbox__label">Запомнить меня</label>
                    </div>
                </div>
            </div>
            <div class="form-row form-row--align-center">
                <div class="form-col form-col--6 form-col--xs-12">
                    <button class="btn btn--primary btn--lg form-col__btn" type="submit">Войти</button>
                </div>
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="help-links">
                        <a href="#modal-forgot-password" class="form-link help-links__item">Забыли пароль?</a>
                        <a href="#modal-signup-payment" class="form-link help-links__item">Зарегистрироваться </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--END signin-payment-popup-->

<!--BEGIN signup-payment-popup-->
<div class="remodal remodal--md" data-remodal-id="modal-signup-payment">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title">Оплата участия в конференции PHP&nbsp;fwdays '17</h2>
        </div>
        <form action="">
            <div class="form-hint">Регистрация на сайте</div>
            <div class="form-row">
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="form-group">
                        <label class="form-label form-label--required" for="">Имя</label>
                        <input class="input" type="text" value="">
                    </div>
                </div>
                <div class="form-col form-col--6 form-col--xs-12">
                    <label class="form-label form-label--required" for="">Фамилия</label>
                    <input class="input" type="text" value="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="form-group">
                        <label class="form-label form-label--required" for="">Электронная почта</label>
                        <input class="input" type="email" value="">
                    </div>
                </div>
                <div class="form-col form-col--6 form-col--xs-12">
                    <label class="form-label form-label--required" for="">Пароль</label>
                    <div class="input-password">
                        <input class="input input-password__field" type="password" value="">
                        <i class="input-password__icon icon-eye icon-password--js"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="form-group">
                        <label class="form-label" for="">Номер телефона</label>
                        <input class="input mask-phone-input--js" type="tel" value="">
                    </div>
                </div>
            </div>
            <div class="form-row form-row--checkbox">
                <div class="form-col">
                    <div class="checkbox">
                        <input id="check3" type="checkbox" class="checkbox__input">
                        <label for="check3" class="checkbox__label">Я согласен получать важные новости на e-mail</label>
                    </div>
                </div>
            </div>
            <div class="form-row form-row--align-center">
                <div class="form-col form-col--6 form-col--xs-12">
                    <button class="btn btn--primary btn--lg form-col__btn" type="submit">Создать аккаунт</button>
                </div>
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="help-links">
                        <a href="#modal-signin" class="form-link">У меня уже есть аккаунт</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--END signup-payment-popup-->

<!--BEGIN forgot-password-popup-->
<div class="remodal remodal--md" data-remodal-id="modal-forgot-password">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title">Забыли пароль?</h2>
        </div>
        <form action="">
            <div class="form-row form-row--align-bottom">
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="form-group">
                        <label class="form-label" for="">Ваша электронная почта</label>
                        <input class="input" type="email" value="">
                    </div>
                </div>
                <div class="form-col form-col--6 form-col--xs-12">
                    <button class="btn btn--primary btn--lg form-col__btn" type="submit">Сбросить пароль</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--END forgot-password-popup-->

<!--BEGIN payment-popup-->
<div class="remodal remodal--md" data-remodal-id="modal-payment">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head remodal__head--payment">
            <h2 class="h2 remodal__title">Оплата участия в&nbsp;конференции PHP&nbsp;fwdays '17</h2>
        </div>
        <form action="">
            <div class="user-payment">
                <button class="icon-circle-close user-payment__remove"></button>
                <div class="user-payment__left">
                    <div class="user-payment__name">Константинопольский Костя</div>
                    <div class="user-payment__email">johndoe@gmail.com</div>
                </div>
                <div class="user-payment__right">
                    <div class="user-payment__price">1900 грн</div>
                </div>
            </div>
            <div class="user-payment">
                <button class="icon-circle-close user-payment__remove"></button>
                <div class="user-payment__left">
                    <div class="user-payment__name">Петров Андрей</div>
                    <div class="user-payment__email">andrew_petrov@yahoo.com</div>
                </div>
                <div class="user-payment__right">
                    <div class="user-payment__price">
                        <span class="user-payment__price-strike">1900 грн</span>1520 грн
                    </div>
                    <div class="user-payment__discount">скидка 20% для постоянного участника</div>
                </div>
            </div>
            <div id="payment-add-user" class="form-add">
                <div class="form-add__hint">
                    Укажите как зовут участника и куда высылать билет&nbsp;&nbsp;<a id="cancel-add-user" href="#"
                                                                                    class="btn-link">Отмена</a>
                </div>
                <div class="form-row">
                    <div class="form-col form-col--6 form-col--xs-12">
                        <div class="form-group">
                            <label class="form-label" for="">Имя</label>
                            <input class="input" type="text" value="">
                        </div>
                    </div>
                    <div class="form-col form-col--col-6 form-col--xs-12">
                        <div class="form-group">
                            <label class="form-label" for="">Фамилия</label>
                            <input class="input" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-row form-row--align-bottom">
                    <div class="form-col form-col--6 form-col--xs-12">
                        <div class="form-group">
                            <label class="form-label" for="">Электронная почта</label>
                            <input class="input" type="email" value="">
                        </div>
                    </div>
                    <div class="form-col form-col--6 form-col--xs-12">
                        <button class="btn btn--secondary btn--md form-col__btn">Добавить</button>
                    </div>
                </div>
            </div>
            <div id="add-promo-code" class="form-add">
                <div class="form-add__hint">
                    Введите промокод для получения скидки&nbsp;&nbsp;<a id="cancel-promo-code" href="#"
                                                                        class="btn-link">Отмена</a>
                </div>
                <div class="form-row form-row--align-bottom">
                    <div class="form-col form-col--6 form-col--xs-12">
                        <div class="form-group">
                            <label class="form-label" for="">Промокод</label>
                            <input class="input" type="text" value="">
                        </div>
                    </div>
                    <div class="form-col form-col--6 form-col--xs-12">
                        <button class="btn btn--secondary btn--md form-col__btn">Добавить</button>
                    </div>
                </div>
            </div>
            <div class="payment-info">
                <div class="payment-info__left">
                    <div class="payment-info__btn-link">
                        <a id="add-user-trigger" href="#" class="btn-link">Добавить участника</a>
                    </div>
                    <div class="payment-info__btn-link">
                        <a id="promo-code-trigger" href="#" class="btn-link">У меня есть промокод</a>
                    </div>
                </div>
                <div class="payment-info__right">
                    <div class="payment-info__total">Сума: <b>3420 грн</b></div>
                    <div class="payment-info__total">Ваши бонусы fwdays: <b>300 грн</b></div>
                    <div class="payment-info__total">К оплате: <b>1600 грн</b></div>
                </div>
            </div>
            <div class="form-row form-row--align-bottom">
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="form-group">
                        <label class="form-label" for="">Контактный номер телефона</label>
                        <input class="input mask-phone-input--js" type="tel" value="">
                    </div>
                </div>
                <div class="form-col form-col--6 form-col--xs-12">
                    <button class="btn btn--primary btn--lg form-col__btn" type="submit">Оплатить участие</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--END payment-popup-->