{% extends 'ApplicationDefaultBundle:Redesign:layout.html.twig' %}

{% block content %}
    <section class="contacts">
        <div class="container container--sm">
            {{ text|raw }}
        </div>
    </section>
{% endblock content %}
