<form action="#" method="post">
    <p>Компания: <input name="company"></p>
    <p>Город: <input name="city"></p>
    <p>Цена: <input name="amount"></p>

    Список пользователей:<textarea name="users"></textarea>
    <input type="submit" value="Add" />
</form>