{% extends '@ApplicationDefault/Redesign/layout.html.twig' %}

{% block content %}
<!--BEGIN form-auth-->
<div class="form-auth">
    <h2 class="h2 form-auth__title">{{ 'menu.login'|trans }}</h2>
    {% if error %}
        <div><p class="text-error">{{ error|trans }}</p></div>
    {% endif %}
        {% include '@ApplicationDefault/Redesign/login_form.html.twig' with {'remodal':'', 'queryLink':''} %}
</div>
{% endblock content %}
