    {% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

    {% block field%}
        <div>
            <a href="">Старт</a><br />
            <a href="">Стоп</a>
{{ object.title }}</strong> <br />
        </div>
    {% endblock %}