{% extends '@ApplicationDefault/Redesign/layout.html.twig' %}

{% block content %}
    <div class="container container--sm">
        <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
    </div>
{% endblock content %}