{% extends '@ApplicationDefault/Redesign/layout.html.twig' %}

{% block content %}
    <div class="container container--sm">
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endblock content %}