{% extends '@ApplicationDefault/Redesign/layout.html.twig' %}

{% block content %}
    <!--BEGIN form-auth-->
    <div class="form-auth">
        <h2 class="h2 form-auth__title">{{ 'user.forgot_password.title'|trans }}</h2>
        {% include '@ApplicationDefault/Redesign/forgot_password_form.html.twig' %}
    </div>
{% endblock content %}
