{% extends '::layout.html.twig' %}

{% block title %}{{ 'news_and_anonce.title'|trans }} / {{ parent() }}{% endblock %}

{% block content %}
    <h2>{{ 'news_and_anonce.title'|trans }}</h2>

    <div class="news-list">
        {% for one_news in news %}
            {% include '_one-news-preview.html.twig' with {'one_news': one_news} %}
        {% endfor %}
    </div>
{% endblock %}