<h1 style="font-family: Arial; font-size: 18px; line-height: 22px; font-weight: normal; color: #000000; padding-bottom: 20px; margin-top: 0; margin-bottom: 0;">
    Здравствуйте, <br/>{{ user.fullname }}.
</h1>

<p style="font-family: Arial; font-size: 15px; line-height: 22px; font-weight: normal; color: #000000; padding-right: 20px; margin-top: 0; margin-bottom: 0;">
    Благодарим Вас, за оплату участия в конференции {{ event.name }}.
    <br/>

    Напоминаем, что конференция состоится {{ event.date|localizeddate('none', 'none', 'ru-RU', null, "d MMMM Y") }}
    года, {{ event.place }}.
    <br>

    Ваш билет находится во вложении.
</p>