<h1 style="font-family: Arial; font-size: 18px; line-height: 22px; font-weight: normal; color: #000000; padding-bottom: 20px; margin-top: 0; margin-bottom: 0;">
    Доброго времени суток, <br />%fullname%.
</h1>

<p style="font-family: Arial; font-size: 15px; line-height: 22px; font-weight: normal; color: #000000; padding-right: 20px; margin-top: 0; margin-bottom: 0;">
    Благодарим Вас, за оплату участия в конференции %event%.
    <br />
    Напоминаем, что конференция состоится %date% года, %place%.
</p>
