{% extends 'ApplicationDefaultBundle::layout.html.twig' %}

{% block content %}
    <h2>{{ 'interkassa.payment.pending'|trans }}</h2>

    {{ 'interkassa.payment.pending.wait'|trans }}

{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script type="text/JavaScript">
        // auto refresh page with js
        setTimeout("location.reload(true);", 10000);
    </script>
{% endblock %}