{% extends 'Redesign/layout.html.twig' %}

{% block content %}
    <div class="container container--sm static-styles">
        <h2>{{ 'user.reset_password.title'|trans }}</h2>
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
{% endblock content %}