{% extends '::main-no-head.html.twig' %}

{% block content %}
    <h2>Оплата</h2>

    <form action="https://interkassa.com/lib/payment.php" method="post" enctype="application/x-www-form-urlencoded" accept-charset="cp1251">
        {{ form_widget(form) }}
        <input type="submit" value="Оплатить участие" />
    </form>

{% endblock %}