{% extends 'StfalconEventBundle::layout.html.twig' %}

{% block title %}{{ 'news.title'|trans }}/ {{ parent() }}{% endblock %}

{% block content %}
    <h2>{{ 'news.title'|trans }}</h2>

    <div class="news-list">
        {% for one_news in news %}
            {% include 'StfalconEventBundle:EventNews:_one-news-preview.html.twig' with {'one_news': one_news} %}
        {% endfor %}
    </div>
{% endblock %}

{% block event_news_widget %}
{% endblock %}