<div class="side-right-wrap">
    <div class="side-right-holder">
        <div class="partners">
            {% if sponsors %}
                <h2>Спонсоры и партнеры</h2>

                {% for sponsor in sponsors %}
                    <div class="partner sort-order-{{ loop.index }}">
                        {% include 'StfalconSponsorBundle:Sponsor:_sponsor.html.twig' %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
