<div class="side-right-wrap">
    <div class="side-right-holder">
        <div class="partners">
            {% if sponsors %}
                <h2>Спонсоры и партнеры</h2>

                {% for sponsor in sponsors %}
                    <div class="partner sort-order-{{ loop.index }}">
                        <a href="{{ sponsor.site }}">
                            {% include 'StfalconSponsorBundle:Sponsor:part/sponsor_image_or_name.html.twig' %}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
