.partners-section {
  margin-top: 40px;
}

.partner {
  display: flex;
  align-items: center;
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  &__logo {
    flex-shrink: 0;
    max-width: 140px;
    margin-right: 30px;
  }

  &__title {
    display: inline-block;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 1px solid rgba(18, 19, 20, 0.4);
    color: $dark-color;
    text-decoration: none;

    &:hover {
      border-color: transparent;
    }
  }

  &__img {
    width: 100%;
  }

  &__text {
    margin: 0 0 16px;
    font-size: 18px;
    line-height: 26px;
  }
}