<section class="video">
    <div class="container">
        <div class="video__box">
            <div class="video__frame">
                <iframe width="560" height="315" id="youtube-video"
                        data-src="https://www.youtube.com/embed/{% if is_playlist %}videoseries?list={% endif %}{{ event_block.text }}"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <div class="video__description">
                {% if is_playlist == false -%}
                <iframe width="560" height="315"
                        data-src="https://www.youtube.com/live_chat?v={{ event_block.text }}&embed_domain={{ app.request.host }}"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
                {%- endif -%}
            </div>
        </div>
    </div>
</section>
