html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  background-color: $white-color;
  color: $dark-color;
  font-size: 18px;
  font-family: 'FwDaysFont', sans-serif;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

iframe {
  border: 0;
}

.layout-box {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__top {
    flex: 1 1 auto;
  }
}

.h2 {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

.h2--white {
  color: $white-color;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  border: none;
  border-radius: 0;
  color: $white-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &__icon {
    margin: -4px 18px 0 0;
  }
}

.btn--lg {
  height: 65px;
  font-size: 16px;
  line-height: 65px;
}

.btn--md {
  height: 50px;
  font-size: 16px;
  line-height: 50px;
}

.btn--sm {
  height: 45px;
  font-size: 12px;
  line-height: 45px;
}

.btn--primary {
  background-color: $green-light-color;

  &:hover {
    box-shadow: 0 2px 10px 0 $green-light-color;
  }
}

.btn--secondary {
  background-color: $blue-light-color;

  &:hover {
    box-shadow: 0 2px 10px 0 $blue-light-color;
  }
}

.btn--tertiary {
  border: 1px solid #727272;
  background: transparent;
  color: #727272;

  &:hover {
    border-color: $dark-color;
    color: $dark-color;
  }
}

.btn--quaternary {
  border: 1px solid $white-color;
  background-color: $white-color;
  color: $dark-color;

  &:hover {
    box-shadow: 0 2px 10px 0 $white-color;
  }
}

.btn--facebook {
  background-color: $blue-dark-color;

  &:hover {
    box-shadow: 0 2px 10px 0 $blue-dark-color;
  }
}

.btn--google {
  background-color: #CC4A41;

  &:hover {
    box-shadow: 0 2px 10px 0 #CC4A41;
  }
}

.input {
  padding: 0 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(151, 151, 151, 0.53);
  border-radius: 2px;
  background-color: $white-color;
  box-shadow: none;
  font-size: 15px;
  font-family: 'FwDaysFont', sans-serif;
  appearance: none;

  &::-webkit-input-placeholder {
    font-family: 'FwDaysFont', sans-serif;
    font-weight: 400;
    color: #7B7B7B;
    font-size: 15px;
  }

  &::-moz-placeholder {
    font-family: 'FwDaysFont', sans-serif;
    font-weight: 400;
    color: #7B7B7B;
    font-size: 15px;
  }

  &:-ms-input-placeholder {
    font-family: 'FwDaysFont', sans-serif;
    font-weight: 400;
    color: #7B7B7B;
    font-size: 15px;
  }

  &:hover {
    border-color: rgba(151, 151, 151, 0.8);
  }

  &:focus {
    border-color: rgba(151, 151, 151, 0.8);
  }
}

.input--error {
  border-color: rgba(204, 82, 61, 0.53);

  &:hover {
    border-color: rgba(204, 82, 61, 0.53);
  }
}

.text-error {
  margin-top: 10px;
  color: $red-light-color;
  font-size: 12px;
  line-height: 16px;
}

.input-password {
  position: relative;

  &__field {
    padding-right: 50px;
  }

  &__icon {
    position: absolute;
    top: 13px;
    right: 16px;
    opacity: 0.3;
    cursor: pointer;

    &--active {
      opacity: 1;
    }
  }
}

.container {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1120px;
}

.container--sm {
  max-width: 940px;
}

.container--flex-column {
  display: flex;
  flex-direction: column;
}

.made-by {
  color: #89898A;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 14px;

  &__icon {
    margin: -4px -2px 0 0;
  }
}

.social {
  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    display: block;
  }
}

.social--contrast {
  .social__item {
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }
  }

  .social__link {
    opacity: 1;
    transition: none;
  }

  .social__icon {
    display: block;
    width: 26px;
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 0 -8px;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: -28px;
  }

  &:before {
    display: block;
    clear: both;
    content: '';
  }

  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.form-row--checkbox {
  margin-top: -6px;
}

.form-row--align-center {
  align-items: center;
}

.form-col {
  margin-bottom: 28px;
  padding: 0 8px;

  &--1 {
    width: 8.333%;
  }

  &--2 {
    width: 16.666%;
  }

  &--3 {
    width: 25%;
  }

  &--4 {
    width: 33.333%;
  }

  &--5 {
    width: 41.666%;
  }

  &--6 {
    width: 50%;
  }

  &--7 {
    width: 58.333%;
  }

  &--8 {
    width: 66.666%;
  }

  &--9 {
    width: 75%;
  }

  &--10 {
    width: 83.333%;
  }

  &--11 {
    width: 91.666%;
  }

  &--12 {
    width: 100%;
  }

  &__btn {
    width: 100%;
  }
}

.form-col--btn-lg {
  padding-top: 9px;
}

.form-col--btn-md {
  padding-top: 24px;
}

.form-label {
  display: inline-block;
  margin-bottom: 8px;
  color: #727272;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}

.form-label--required {
  position: relative;

  &:after {
    position: absolute;
    top: -3px;
    right: -10px;
    display: block;
    color: $red-light-color;
    content: '*';
  }
}

.form-hint {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__input {
    position: absolute;
    top: 2px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  &__label {
    padding-left: 22px;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
  }
}

.link {
  border-bottom: 1px solid rgba(18, 19, 20, 0.4);

  &:hover {
    border-bottom: none;
  }
}

.form-link {
  display: inline-block;
  border-bottom: 1px solid rgba(0, 145, 173, 0.4);
  color: $blue-light-color;
  text-decoration: none;
  font-size: 14px;
  line-height: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: transparent;
  }
}

.btn-link {
  display: inline-block;
  border-bottom: 1px dashed rgba(0, 145, 173, 0.4);
  color: $blue-light-color;
  text-decoration: none;
  font-size: 14px;
  line-height: 12px;

  &:hover {
    border-color: transparent;
  }
}

.login-social-buttons {
  margin-bottom: 20px;
  padding-bottom: 28px;
  border-bottom: 1px solid #DFDBCC;
}

.user-payment {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 13px 0 20px;
  border-bottom: 1px solid #DFDBCC;
  justify-content: space-between;

  &__remove {
    position: absolute;
    top: 18px;
    right: -22px;
  }

  &__name {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 24px;
  }

  &__email {
    font-size: 12px;
    line-height: 12px;
  }

  &__price {
    margin-bottom: 3px;
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &__price-strike {
    position: relative;
    margin-right: 6px;
    color: #727272;
    font-weight: 400;

    &:after {
      position: absolute;
      top: 7px;
      right: 0;
      left: 0;
      display: block;
      height: 1px;
      background-color: #727272;
      content: '';
    }
  }

  &__discount {
    text-align: right;
    font-size: 12px;
    line-height: 12px;
  }
}

.payment-info {
  display: flex;
  flex-direction: row;
  margin: 20px 0 18px;
  justify-content: space-between;

  &__left {
    flex: 1;
  }

  &__right {
    flex: 1;
  }

  &__total {
    margin-bottom: 14px;
    text-align: right;
    font-size: 16px;
    line-height: 18px;

    b {
      font-weight: 500;
    }
  }

  &__btn-link {
    margin-bottom: 15px;
  }
}

.form-add {
  display: none;
  margin-top: 22px;
  padding-bottom: 28px;
  border-bottom: 1px solid #DFDBCC;

  &__hint {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
  }
}

.form-box {
  margin: 32px auto 0;
  padding: 32px;
  max-width: 616px;

  &__title {
    margin-bottom: 28px;
  }
}

.btn-up {
  position: fixed;
  right: 32px;
  bottom: 87px;
  z-index: 2;
  display: inline-block;
  visibility: hidden;
  padding: 0;
  width: 80px;
  height: 80px;
  border: none;
  opacity: 0;
  border-radius: 0;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;

  &:after {
    position: absolute;
    top: 38px;
    left: 34px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid #FFFFFF;
    border-width: 1px 0 0 1px;
    content: '';
    vertical-align: middle;
    transform: rotate(45deg);
  }

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}

.error {
  margin-top: 40px;

  &__title {
    margin-bottom: 29px;
    letter-spacing: 1px;
  }

  &__text {
    margin-bottom: 32px;
    line-height: 24px;
  }
}

.numbered-list-caption {
  font-size: 14px;
}

.numbered-list {
  &__item {
    position: relative;
    margin: 10px 0;
    text-indent: 16px;
    font-size: 14px;
    line-height: 20px;

    &:before {
      position: absolute;
      top: 9px;
      left: 0;
      display: inline-block;
      box-sizing: border-box;
      width: 11px;
      height: 1px;
      background-color: #121314;
      content: '';
    }
  }

  &__link {
    border-bottom: 1px solid rgba(0, 145, 173, 0.4);
    color: $blue-light-color;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      border-color: transparent;
    }
  }
}

.like-btn {
  display: flex;
  flex-direction: row;
  height: 15px;

  &__action {
    border-bottom: 1px dashed rgba(0, 145, 173, 0.4);
    color: $blue-light-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    flex-shrink: 0;

    &:hover {
      border-color: transparent;
    }
  }

  &__amount {
    display: flex;
    margin-left: 8px;
    color: $blue-light-color;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }

  &__icon {
    margin: -1px 4px 0 0;
  }
}

.alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65px;
    color: $white-color;
    text-align: center;
    padding: 16px;
  }

  &__content {
    font-weight: 700;
    max-width: 900px;
    font-size: 18px;
    line-height: 22px;
  }

  &__close {
    position: absolute;
    right: 30px;
    top: 50%;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-top: -15px;
  }
}

.alert--success {
  background-color: $green-light-color;
}

.grecaptcha-badge {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
