.review-layout {
  position: relative;
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 36px;
  }

  &__content {
    display: flex;
    flex-direction: row;
  }

  &__info {
    margin-right: 64px;
  }

  &__speaker {
    width: 232px;
    flex-shrink: 0;
    order: 1;
  }
}

.review-header {
  &__title {
    margin-bottom: 8px;
  }
}

.review-video {
  margin-bottom: 24px;

  &__label {
    margin-bottom: 16px;
  }

  &__frame {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.review-description {
  margin-bottom: 28px;

  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
  }
}

.review-speaker {
  &__photo {
    display: block;
    margin-bottom: 26px;
    width: 100%;
  }

  &__name {
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  &__position {
    font-size: 16px;
    line-height: 20px;
  }

  &__info-show {
    display: none;
  }

  &__info {
    margin-top: 15px;

    p {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      border-bottom: 1px solid rgba(0, 145, 173, 0.4);
      color: $blue-light-color;
      text-decoration: none;

      &:hover {
        border-color: transparent;
      }
    }
  }
}

.review-speaker + .review-speaker {
  margin-top: 24px;
}

.share-buttons {
  display: flex;
  flex-direction: row;

  &__item {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }
}