<article class="intro">
    <h2><a href="{{ path('news_show', { 'slug': one_news.slug }) }}">{{ one_news.title }}</a></h2>
    <div class="article-date-rubrics">{{ one_news.createdat|date('d M Y') }}</div>
    <p>{{ one_news.preview }}</p>
</article>