{% extends 'StfalconPaymentBundle::layout.html.twig' %}

{% block content %}
    <h2>Оплата</h2>

    <span id="message">
    {{ message }}
    </span>

{% endblock %}

{% block javascripts %}
    {% javascripts 'js/jquery-1.8.2.min.js' 'js/simple-slider.js' 'js/jquery.cycle.all.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function checkPaymentStatus() {
                $.ajax({
                    url: "{{ path('check-status', {'paymentId': paymentId}) }}",
                    statusCode: {
                        200: function() {
                            $('#message').text('Оплата прошла успешно.')
                        }
                    }
                });
            }
            setTimeout(checkPaymentStatus, 10000);
        })
    </script>
    {% endjavascripts %}
{% endblock %}