{% extends 'StfalconEventBundle::events-layout.html.twig' %}

{% block title %}Пригласи друзей / {{ parent() }}{% endblock %}

{% block content %}
    <h2>Приглашайте друзей и накапливайте бонусы! </h2>
    <div class="text">
        <p class="text-desc">
            У Вас много друзей, которые интересуются Javа? Приглашайте их на конференцию
            <b>Java Frameworks Day 2015</b> и получайте по 100 ₴ за каждую покупку билета!
            Накапливайте бонусы и используйте их при покупке билетов на наши
            мероприятия ;)
        </p>

        <p>Внесем немного азарта в нашу жизнь!</p>
    </div>
    <div class="form-wrapper referral-page">
        <p>Ваш баланс: <span class="sum">{{ balance }} ₴</span></p>
        <hr/>
        <div class="ref-link">
            <p>Реферальная ссылка:</p>
            <input type="text"
                   value="{{ url('event_show', {'event_slug' : 'java-frameworks-day-2015', 'ref': code}) }}"/>
        </div>
    </div>
{% endblock %}