{% extends 'StfalconEventBundle::events-layout.html.twig' %}

{% block title %}Пригласи друзей / {{ parent() }}{% endblock %}

{% block content %}

    <h2>Хотите посещать ивенты Frameworks Days бесплатно? </h2>

    <div class="text">
        <p>Да, это вполне реально и очень легко сделать. Рассказываем по пунктам: </p>

        <p class="text-headline">1. Получите уникальную ссылку.</p>

        <p class="text-desc"> Зайдите в свой кабинет на сайте, выберите опцию "Пригласи друзей". Там увидите
            ссылку.</p>
          
        <p class="text-headline">2. Расскажите о мероприятии своим друзьям в социальных сетях</p>

        <p class="text-desc"> Делитесь этой ссылкой в социальных сетях или напрямую отправляйте ее друзьям, которых
            заинтересуют наши ивенты.
        </p>

        <p class="text-headline">3. Получайте ваши fwdays бонусы.</p>

        <p class="text-desc">   Каждый раз, когда по вашей ссылке человек совершает переход и покупает билет на однин из
            наших ивентов – вы получаете fwdays бонусы в размере 100
            гривен. Можете накапливать бонусы в любом количестве и использовать их при покупке билетов на наши
            мероприятия.</p>


        <p class="text-headline"> 4. Приходите к нам на Frameworks Days чаще и абсолютно бесплатно.</p>

        <p class="text-desc">
            Ваш друг – разработчик Java?<br/>
            Именно сейчас вы можете начать накапливать свои бонусы, пригласив его на <b>Java Frameworks Day 2015</b>,
            воспользовавшись ссылкой выше ;)
        </p>

        <p>Внесем немного азарта в нашу жизнь!</p>
    </div>
    <div class="form-wrapper referral-page">
        <p>Баланс: <span class="sum">{{ balance }} грн.</span></p>
        <hr/>
        <div class="ref-link">
            <p>Реферальная ссылка:</p>
            <input type="text"
                   value="{{ url('event_show', {'event_slug' : 'java-frameworks-day-2015', 'ref': code}) }}"/>
        </div>
    </div>
{% endblock %}