@font-face {
  font-family: 'FwDaysFont';
  src: url('../fonts/FwDaysFont-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FwDaysFont';
  src: url('../fonts/FwDaysFont-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FwDaysFont';
  src: url('../fonts/FwDaysFont-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}