
.more-link {
  display: inline-block;
  margin-top: 26px;
  border-bottom: 1px solid rgba(18, 19, 20, 0.4);
  color: $dark-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;

  &:hover {
    border-bottom: none;
  }
}

.home {
  position: relative;
  display: flex;
  flex-direction: row;
  //margin-bottom: 36px;
  margin: -1px 0 36px;
  padding: 0 24px;
  height: 524px;
  background: center no-repeat;
  background-color: $white-color;
  background-size: cover;
  align-items: center;
  justify-content: center;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
  }

  &__box {
    position: relative;
    z-index: 2;
    max-width: 756px;
    text-align: center;
  }

  &__title {
    color: $white-color;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }

  &__description {
    color: $white-color;
    font-size: 24px;
    line-height: 50px;
  }
}

.events {
  &__box {
    display: flex;
    flex-direction: row;
    margin: 0 -16px;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 32px;
    width: 50%;
    height: 290px;
  }

  &__more {
    position: relative;
    top: -8px;
    margin-top: 0;
  }
}

.event-card {
  position: relative;
  display: flex;
  padding: 0 16px;

  &__box {
    display: flex;
    padding: 28px 32px 35px;
    border-radius: 2px;
    flex: 1;
  }

  &__info {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  &__photo {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    overflow: hidden;
    max-width: 290px;

    a {
      display: inherit;
      text-decoration: inherit;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__title {
    overflow: hidden;
    margin-bottom: 18px;
    max-height: 96px;

    a {
      display: inline;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      color: inherit;
      text-decoration: none;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__date {
    color: $white-color;
    font-size: 18px;
    line-height: 18px;
  }

  &__status {
    position: absolute;
    bottom: 16px;
    left: 0;
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
  }

  &__download {
    position: absolute;
    bottom: 15px;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: $white-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;

    &:hover {
      border-color: transparent;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 219px;
  }
}

.video {
  margin: 56px 0;

  &__box {
    min-height: 367px;
    position: relative;
  }

  &__frame {
    position: absolute;
    top: 52px;
    left: 0;
    width: 560px;
    height: 315px;

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__description {
    margin-left: 130px;
    padding: 51px 30px 67px 474px;
    background-color: #F5F3EA;

    p {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.gallery {
  overflow: hidden;

  &__cols {
    display: flex;
    flex-direction: row;
    margin: -8px;
  }

  &__col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
  }

  &__col--2 {
    flex-direction: row;
    width: 20%;

    .gallery__item--w-1 {
      width: 100%;
      height: 33.33333%;
    }
  }

  &__item {
    padding: 8px;
    flex-shrink: 0;
  }

  &__item--w-1 {
    width: 50%;
    height: 33.33333%;
  }

  &__item--w-2 {
    width: 100%;
    height: 66.6666%;
  }

  &__item--h-2 {
    width: 100%;
    height: 66.6666%;
  }
}
